/apache-camel/camel-topics/.classpath
/apache-camel/camel-topics/.gitignore
/apache-camel/camel-topics/.project
/apache-camel/camel-topics/.settings/org.eclipse.core.resources.prefs
/apache-camel/camel-topics/.settings/org.eclipse.jdt.core.prefs
/apache-camel/camel-topics/.settings/org.eclipse.m2e.core.prefs
/apache-camel/camel-topics/.settings/org.maven.ide.eclipse.prefs
