<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd          
		http://camel.apache.org/schema/spring 
		http://camel.apache.org/schema/spring/camel-spring.xsd">

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<!-- read input from the console using the stream component -->
			<from uri="stream:in?promptMessage=Enter something: " />
			<!-- transform the input to upper case using the simple language -->
			<!--
				you can also use other languages such as groovy, ognl, mvel,
				javascript etc.
			-->
			<transform>
				<simple>${body.toUpperCase()}</simple>
			</transform>

			<choice>
				<when>
					<simple>${body} contains 'PHONE'</simple>
					<to uri="vm:phone" />
				</when>
				<when>
					<simple>${body} contains 'EMAIL'</simple>
					<to uri="vm:email" />
				</when>
				<otherwise>
					<to uri="vm:letter" />
				</otherwise>
			</choice>
			<!-- and then print to the console -->
			<to uri="stream:out" />
		</route>

		<route id="phone">
			<!-- incoming requests from the servlet is routed -->
			<from uri="vm:phone" />
			<transform>
				<constant>Phone Karo</constant>
			</transform>
			<to uri="stream:out" />
		</route>
		<route id="email">
			<!-- incoming requests from the servlet is routed -->
			<from uri="vm:email" />
			<transform>
				<constant>Send EMAIL</constant>
			</transform>
			<to uri="stream:out" />
		</route>
		<route id="letter">
			<!-- incoming requests from the servlet is routed -->
			<from uri="vm:letter" />
			<transform>
				<constant>Post Letter</constant>
			</transform>
			<to uri="stream:out" />
		</route>
	</camelContext>
</beans>
