<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="direct:start" />
            <multicast>
                <to uri="direct:a" />
                <to uri="direct:b" />
                <to uri="direct:c" />
            </multicast>
        </route>
        <route>
            <from uri="direct:a" />
            <to uri="bean:myBean?method=addFirst"/>
            <setBody>
                <simple>body: ${body}, thread: ${threadName}</simple>
            </setBody>
            <to uri="stream:out"/>
        </route>
        <route>
            <from uri="direct:b" />
            <to uri="bean:myBean?method=addSecond"/>
            <setBody>
                <simple>body: ${body}, thread: ${threadName}</simple>
            </setBody>
            <to uri="stream:out"/>
        </route>
        <route>
            <from uri="direct:c" />
            <to uri="bean:myBean?method=addThird"/>
            <setBody>
                <simple>body: ${body}, thread: ${threadName}</simple>
            </setBody>
            <to uri="stream:out"/>
        </route>
    </camelContext>
    <bean id="myBean" class="com.camel.psrp.MyBean"/>
</beans>
